<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    NanoTwitter
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/user/update_profile">Profile</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      <% else %>
        <a class="nav-item nav-link" href="/login">Login</a>
      <% end %>
    </ul>

    <form action="/search" method="POST" role="form" class="form-inline my-2 my-lg-0" style="margin-left: auto">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Search" id="searchterm" name="search">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>