<div class="row">
  <div class="col-4">
    <% if !logged_in?  %>
      <%= erb :'app_pages/signup', :layout => false %>
    <% else %>
      <%= erb :'user_pages/profile', :layout => false, :locals => { :user => current_user } %>
    <% end %>
  </div>

  <div class="col-8">
    <div class="card">
      <% if logged_in?  %>
        <div class="card-body">
          <form action='/tweets/new' method='POST'>
            <div class="form-group">
              <textarea class="form-control" name="tweet" rows="3" id="tweet" placeholder="What's happening?"></textarea>
            </div>
            <button class="btn btn-primary my-2 my-sm-0" type="submit" style="float: right;">Tweet</button>
          </form>
        </div>
      <% end %>
      <ul class="list-group list-group-flush">
        <%= erb :'tweet_pages/tweets_display_helper', :layout => false, :locals => { tweets: @tweets, retweets_hash: @retweets_hash, likes_hash: @likes_hash } %>
      </ul>
    </div>
  </div>
</div>
