<div class="row">
  <div class="col-4">
    <% if !logged_in?  %>
      <%= erb :'app_pages/signup', :layout => false %>
    <% else %>
      <%= erb :'user_pages/profile', :layout => false, :locals => { :user => current_user } %>
    <% end %>
  </div>

  <div class="col-8">
    <div class="card">
      <ul class="list-group list-group-flush">
        <% if !@tweets.nil?  %>
        <%= erb :'tweet_pages/tweets_display_helper', :layout => false, :locals => { :tweets => @tweets } %>
        <% else %>
        Could not find any tweets matching your search.
        <% end %>
      </ul>
    </div>
  </div>
</div>
