<div class="container">
  <div class="row">
    <div class="col-4">
      User count:
    </div>
    <div class="col-6">
      <%= User.count %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Follower count:
    </div>
    <div class="col-6">
      <%= Follower.count %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Tweet count:
    </div>
    <div class="col-6">
      <%= Tweet.count %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      User id:
    </div>
    <div class="col-6">
      <%= User.where(name:"testuser", email: "testuser@sample.com").first.id %>
    </div>
  </div>
</div>