<div class="row">
  <div class="col-4">
      <%= erb :'user_pages/profile', :layout => false, :locals => { user_info: @searched_user_info  } %>
  </div>

  <div class="col-8">
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @tweet_info = tweetinfo_cache %>
        <%= erb :'tweet_pages/tweets_display_helper', :layout => false, :locals => { tweets: @tweets, tweet_info: @tweet_info, user_likes: @user_likes } %>
      </ul>
    </div>
  </div>
</div>
