<div class="row">
  <div class="col-4">
    <%= erb :'user_pages/profile', :layout => false, :locals => { :user => @user } %>
  </div>

  <div class="col-8">
    <% @followings.each do |following| %>
      <div class="card">
        <div class="card-body">
          <a href="/user/<%= following.id %>"><h5 class="card-title"><%= following.name %></h5></a>

          <form action="/user/<%= following.id %>/unfollow" method='POST'>
            <button type="submit" class="btn btn-danger">Unfollow</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
</div>